@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Fira Sans", serif;
    background: var(--bg-color);
}

/* root color */
:root {

    --bg-color: #F5F5F5;
    --primary-color: rgb(198, 228, 214);
    --secondary-color: rgb(0, 106, 80);

    --text-primary: rgb(14, 14, 14);
    --text-secondary: rgba(14, 14, 14, 0.8);
    --text-onfire: rgba(14, 14, 14, 0.7);
    --text-low-opacity: rgba(14, 14, 14, 0.5);

    --sky-color: rgba(84, 144, 245, 0.2);
    --orange-color: rgb(247, 235, 207);
    --white-color: rgb(255, 255, 255);
    --parrot-color: rgb(9, 161, 92);
    --yellois-color: rgb(255, 194, 57);
}

/* Common Style */
header,
main {
    margin: 20px auto;
    max-width: 1280px;
}

a {
    text-decoration: none;

    color: var(--white-color);
}

.btn-primary {
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    background: var(--secondary-color);
}


/* Header Start */
/* nav */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu button {
    padding: 10px 30px;
}

.nav-menu a {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 18px;
}

.nav-menu h3 {
    color: var(--secondary-color);
}

/* Hero */
#hero {
    background: var(--primary-color);
    border-radius: 20px;
    margin-top: 40px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px;
}

.hero-content h4 {
    color: var(--text-low-opacity);
}

.hero-content h1 {
    font-size: 40px;
    padding-top: 20px;
}

/* Future Vision start */
#future-vision {
    margin-top: 60px;
}

#future-vision h2 {
    font-size: 36px;
    padding-bottom: 20px;
    color: var(--text-primary);
}

#future-vision>p {
    color: var(--text-onfire);
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 30px;
}

.future-vision-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.future-vision-content {
    background: var(--sky-color);
    padding: 30px;
    border-radius: 15px;
    flex: 1;
}

.future-vision-content h3 {
    color: var(--text-secondary);
    font-size: 18px;
    padding: 20px 0;
}

.future-vision-content p {
    color: var(--text-onfire);
    font-size: 14px;
    line-height: 25px;
}

.btn1 {
    background: var(--secondary-color);
}

.btn2 {
    background: var(--parrot-color);
}

.btn3 {
    background: var(--yellois-color);
}

/* News Start */
#news {
    border-radius: 24px;
    margin-top: 40px;
}
#news h1 {
    color: var(--text-primary);
}
#news > p {
    color: var(--text-onfire);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 30px 0;
}
.news-content {
    display: flex;
    gap: 30px;
    background:var(--white-color);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.news-content > img {
    border-radius: 20px;
    max-width: 400px;
}
.news-time {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: var(--text-onfire);
    font-weight: 500;
    padding: 15px 0;
}
.news-text {
    padding: 20px 0;
}
.news-text h2 {
    padding-bottom: 15px;
}
.news-text > p {
    color: var(--text-onfire);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}